:root {
  --primary: #00eb4e;
  --primary-dim: #00eb4e99;
  --primary-faint: #00eb4e44;
  --bg: #1a1919;
  --bg-dark: rgba(0, 15, 0, 0.7);
  --bg-darker: rgba(0, 15, 0, 0.9);
  --bg-highlight: rgba(0, 235, 78, 0.2);
  --bg-highlight-dim: rgba(0, 235, 78, 0.15);
  --bg-highlight-faint: rgba(0, 235, 78, 0.05);
  --error: #ff4444;
  --warning: #ffa500;
  --transition: all 0.2s ease;
  --titlebar-height: 41px;
}
